/* COLORS */
$white: #ffffff;
$bordo: #E8E8E8;
$black: #000000;

$primary: #2573A7;
$secondary: #5E6A75;
$success: #337040;
$info: #16826D;
$warning: #E08A00;
$orange: #D35400;
$danger: #B7382A;
$light: #F5F5F5;
$dark: #2C3E50;
$purple: #6C3384;
$wet_asphalt: #34495e;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #32485e !default;
$gray-800: #243342 !default;
$gray-900: #1e2b38 !default;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "purple": $purple,
    "orange": $orange
);

$form-check-input-border: 1px solid $dark;

$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
$form-check-input-border-radius: 0px;

$card-cap-bg: $dark;
$card-cap-color: $white;
$input-border-color: $dark;
$form-check-input-checked-bg-color: $success;



@import "../../node_modules/bootstrap/scss/bootstrap";


.w15em {
    width: 1.5em;
}

.h15em {
    height: 1.5em;
}



/* CUSTOM SCROLLBAR CHROME */
::-webkit-scrollbar {
    width: 15px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: $light;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
    background: $wet_asphalt;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: $dark;
}